# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore environment files
env/
*.env

# Ignore database files
db.sqlite3

# Ignore log files
*.log

# Ignore media uploads
media/
posters/
# Ignore IDE specific files
.vscode/
.idea/
